body{
  margin: auto;
  padding-bottom: 3vw;
  background: rgb(41, 41, 41);
  h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: black;
  }

  p {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: black;
  }

  h2 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: black;
  }

  li {
    font-family: 'Courier New', Courier, monospace;
    color: black;
  }
  
  Link {
    font-family: 'Courier New', Courier, monospace;
  }
}