body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  display: flex;
  align-self: flex-end;
  justify-content: center;
  height: 100vh;
  background-color: rgba(132, 150, 241, 0.4);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  text-align: center;
  align-self: center;
}

.App-header{
  display: inline-block;
}

main{
  &>ul{
    display: inline;
  }
}