.PortfolioItem{
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-areas: "title title"
                       "image links"
                       "image description"
                       "image back";
  grid-template-rows: maxcontent;
  grid-gap: 20px;
  padding: 30px;
  border-radius: 1em;
  

  img{
    grid-area: image;
    width: 40vw;
    border-radius: 0.5em;
  }

  .title{
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    grid-area: title;
    font-size: 36px;
    color: white;
  }

  .links{
    grid-area: links;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }

  a{
    margin: 1.5vw;
    padding: 0.75vw;
    font-size: 1.5vw;
    border: 2px solid white;
    color: white;
    border-radius: 0.5em;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
  }

  a:hover{
    background: white;
    color: black;
  }

  .description{
    grid-area: description;
    width: 90%;
    margin: auto;
    padding: 15px;
    text-align: left;
    font-size: 22px;
    line-height: 30px;
    color: white;
  }

  .Link{
    grid-area: back;
    width: 70px;
    padding: 10px;
    margin: auto;
    text-align: center;
  }

  @media screen and (max-width: 1200px){
    grid-template-areas: "title"
                         "links"
                         "image"
                         "description"
                         "back";
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
    justify-content: center;
    padding: 10px;

    .title{
      font-size: 28px;
      margin-bottom: 0px;
    }
    .links{
      margin-top: 3vw;
      margin-bottom: 3vw;
    }

    a{
      margin: 15px;
      padding: 8px;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 20px;
    }

    img{
      width: 100%;
      margin: auto;
    }

    .description{
      margin-bottom: 15px;
      font-size: 17px;
      line-height: 22px;
    }
  }

}